* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #23da7f;
  padding: 20px 50px 50px 50px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: white;

}

.navlink {
  display: flex;
  gap: 30px;
}

.logopart {
  display: flex;
  align-items: center;
  gap: 20px;

}

.logopart img {
  width: 50px;

}

.logopart p {
  font-size: 20px;
  color: white;
  font-weight: bold;
}

.navbody {
  display: grid;
  grid-template-columns: repeat(2, 350px);
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.navbody img {
  width: 500px;
  height: 250px;
  position: relative;
  right: 150px;
}

.writeup {
  display: grid;
  height: 220px;
  color: white;

}

.writeup h2 {
  font-size: 30px;
}

.writeup p {
  font-size: 15px;
}

.writeup button {
  width: 130px;
  border: none;
  border-radius: 4px;
}

.mainheader {
  display: grid;
  justify-content: center;
  text-align: center;
  gap: 30px;
  margin: 40px;

}

.mainheader h5 {
  color: #23da7f;
  margin-bottom: 20px;
}

.mainheader h2 {
  margin-bottom: 20px;
}

.mainimages {
  display: flex;
  justify-content: center;
  gap: 100px;


}

.mainimages img {
  width: 100px;
  height: 30px;

}

.mainheader button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
}

.network {
  display: flex;
  justify-content: center;
  gap: 100px;

}
.writeup2{
  width: 300px;
  
}

.network img {
  width: 500px;
  height: 250px;
}
.network button{
    background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  margin-top: 20px;
}
.network2 {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-top: 50px;

}
.writeup3{
  width: 300px;
  
}

.network2 img {
  width: 500px;
  height: 250px;
}
.network2 button{
    background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  margin-top: 20px;
}

.mainheader {
  display: grid;
  justify-content: center;
  text-align: center;
  gap: 30px;
  margin: 40px;

}

.mainheader h5 {
  color: #23da7f;
  margin-bottom: 20px;
}

.mainheader h2 {
  margin-bottom: 20px;
}

.teamimages {
  display: flex;
  justify-content: center;
  gap: 100px;

}

.teamimages img {
  width: 200px;
  height:200px

}

.teamimages button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 670px;
  color: white;
  background-color: #23da7f;
  padding: 20px;
}

footer img{
  padding: 5px;
}
.mainheader {
  display: grid;
  justify-content: center;
  text-align: center;
  gap: 30px;
  margin: 20px;

}

.mainheader h5 {
  color: #23da7f;
  margin-bottom: 20px;
}

.mainheader h2 {
  margin-bottom: 20px;
}
.portfolioimages {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}
.servicesprices {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  justify-content: center;
  text-align: center;
  gap: 50px;
  margin: 40px 0;

}
ul{
  list-style-type: none;
  padding-bottom: 10px;
}
ul li {
  padding-top: 10px;
}
.list-services {
  display: grid;
  gap:10px;
  box-shadow: 1px 1px 6px 0.5px;
  padding: 20px;

}
span {
  font-size: large;
  font-weight: normal;
}
.list-services button{
background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
}
.formbody{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 37px;

}
.formbody img{
  width: 470px;
  margin-left: 20px;
}
form{
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  width: 500px;
  
}
input, textarea {
  padding: 10px;
  background-color: rgba(118, 118, 118, 0.12);
  border-radius: 5px;
}
label {
  text-align: start;
}
.submitbutton {
  background-color: black;
  color: white;
}